allow hal_wifi_default persist_wifi_file:dir search;
allow hal_wifi_default persist_wifi_file:file getattr;
allow hal_wifi_default persist_wifi_file:file read;
allow hal_wifi_default persist_wifi_file:file open;
allow hal_wifi_default persist_file:dir { search };
